<h1>Welcome To Bored Games</h1>
<img src="../../assets/Johnny5left.png"/>


 <div class="bubble bubble bubble-bottom-left">What's up Dude? I'm Johnny 5, your assistant, and I need input, lots of it to customize the perfect game selection for you!</div>




<button class="StartButton" routerLink="johnny5">Start</button>

<canvas></canvas>


  






  <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay"
   src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/218729783&color=%23ff00f5&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
  
   <footer>CopyRights of BoredGames Inc</footer>
  
