<!-- <p>search works!</p>
<div (click)='backButton()'>Back</div>
<div (click)='nextButton()'>Next</div> -->
<!--Result Button-->


<main>

    <div class="search">
      <input type="text" (keyup)="searchTerms.next($event.target.value)" class="form-control search-box"
        placeholder="Search Games">
    </div>
    <section>
  
      <div class="container">
        <ul *ngFor="let game of games.results | slice: 0:10">
          <li class="games">
            <h1>{{ game.name }}</h1>
            <img class="" src="{{ game['image']['icon_url'] }}" />
            <h1>{{ game.site_detail_url }}</h1>
            <h1>{{ game.genres}} </h1>
            
           
          </li>
  
        </ul>
      </div>
    </section>
  </main>