<main>
  <div class="container">
    <button routerLink=''>Home</button>
    <h1 class="headline">Bored Games Search</h1>

    <div class="search">
      <input type="text" (keyup)="searchTerms.next($event.target.value)" class="searchBar" placeholder="Search Games">
    </div>
    <div>
      <img class="johnny5" src="../../assets/Johnny5right.png" />
    </div>

    <section>
      <div class="game-container">
        <mat-card *ngFor="let game of games?.results | slice: 0:10">
          <mat-card-header>
            <mat-card-title>
              {{game.name}}
            </mat-card-title>
          </mat-card-header>
          <img class="card-image" mat-card-image src="{{ game['image']['small_url'] }}" />
          <button mat-button><a href="{{ game?.site_detail_url }}">More Details</a></button>
        </mat-card>
      </div>
    </section>
  </div>
</main>

<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay"
  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/205590828&color=%23ff00f5&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
<div
  style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
  <a href="https://soundcloud.com/arachnosoft" title="Arachnosoft" target="_blank"
    style="color: #cccccc; text-decoration: none;">Arachnosoft</a> · <a
    href="https://soundcloud.com/arachnosoft/super-mario-bros-underground-theme-remix-arachno-soundfont-game-midi-music"
    title="Super Mario Bros. - Underground Theme (Remix) [Arachno SoundFont Game MIDI Music] [DOWNLOAD IN DESC]"
    target="_blank" style="color: #cccccc; text-decoration: none;">Super Mario Bros. - Underground Theme (Remix)
    [Arachno SoundFont Game MIDI Music] [DOWNLOAD IN DESC]</a></div>
<p> CopyRights of BoredGames Inc</p>
