<div class="container">
  <p> CopyRights of BoredGames Inc</p>
  <div>
  </div>
  <main>
    <div class="search">
      <input type="text" (keyup)="searchTerms.next($event.target.value)" class="form-control search-box"
        placeholder="Search Games">
    </div>
    <div>
      <app-chat-dialog></app-chat-dialog>
    </div>
    <section>
      <div>
        <ul *ngFor="let game of games?.results | slice: 0:10">
          <li class="games">
            <h1>{{ game.name }}</h1>
            <img class="" src="{{ game['image']['icon_url'] }}" />
            <div>{{ game?.site_detail_url }}</div>
            <div>{{ game?.genres}} </div>
          </li>
        </ul>
      </div>
    </section>
  </main>
</div>
